.register {
  padding: 4rem 0;

  .container {
    display: grid;
    grid-template-columns: 47% 1fr;
    align-items: center;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .left {
      img {
        width: 85%;
        margin: auto;

        @media only screen and (max-width: 768px) {
          max-width: 500px;
        }
      }
    }

    .right {
      background-color: rgba(255, 255, 255, 0.03);
      padding: 2rem;

      @media only screen and (max-width: 768px) {
        background-color: transparent;
      }

      h2 {
        color: #d434fe;
        font-size: 2rem;
        font-family: "ClashDisplay-Bold", sans-serif;
        word-wrap: break-word;
        font-weight: 600;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
          font-size: 1.25rem;
        }
      }

      .movement {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        p {
          align-self: flex-end;
          color: white;
          font-size: 0.95rem;
          font-family: "Montserrat";
          font-weight: 400;
          word-wrap: break-word;

          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }

        .images {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;

          img {
            width: 1.5rem;
          }
        }
      }

      h3 {
        color: white;
        font-size: 1.5rem;
        margin: 1rem 0 2.5rem;
        font-family: "Montserrat";
        font-weight: 400;
        word-wrap: break-word;
      }

      form {
        label {
          color: white;
          font-size: 0.95rem;
          font-family: "Montserrat";
          font-weight: 400;
          word-wrap: break-word;
          margin-bottom: 0.5rem;
          display: block;

          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }

        .field {
          margin-bottom: 1.5rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;

          @media (max-width: 768px) {
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
          }

          input {
            &::placeholder {
              color: rgba(255, 255, 255, 0.25);
              font-size: 14px;
              font-family: "Montserrat";
              font-weight: 400;
              word-wrap: break-word;

              @media (max-width: 768px) {
                font-size: 0.8rem;
              }
            }
          }

          .select {
            &::placeholder {
              color: rgba(255, 255, 255, 0.25);
              font-size: 14px;
              font-family: "Montserrat";
              font-weight: 400;
              word-wrap: break-word;

              @media (max-width: 768px) {
                font-size: 0.8rem;
              }
            }
          }
        }

        .review > p {
          color: #ff26b9;
          font-size: 0.8rem;
          font-family: Montserrat;
          font-style: italic;
          font-weight: 400;
          word-wrap: break-word;
        }

        .check {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          margin-top: 0.75rem;

          input {
            align-self: flex-start;
          }
        }

        button {
            width: 100%;
        }
      }
    }
  }
}
