.faqs {
  padding: 4rem 0;
  border-bottom: 1px rgba(255, 255, 255, 0.18) solid;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 0.5rem;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    .left {
      flex: 0.85;

      @media only screen and (max-width: 768px) {
        flex: 1;
        margin-bottom: 2.5rem;
      }

      h2 {
        color: white;
        font-size: 2rem;
        font-family: "ClashDisplay-Bold", sans-serif;
        word-wrap: break-word;
        margin-bottom: 1rem;

        @media only screen and (max-width: 768px) {
          order: 2;
          font-size: 1.25rem;
          text-align: center;
        }

        span {
          color: #d434fe;
        }
      }

      p {
        font-size: 0.95rem;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 27.5px;
        word-wrap: break-word;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 768px) {
          text-align: center;
        }

        span {
          font-weight: 700;
        }
      }

      .faq {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0.75rem;
        border-bottom: 1px #d434fe solid;

        .title {
          font-size: 0.95rem;
          font-family: "Montserrat";
          font-weight: 400;
          line-height: 27.5px;
          word-wrap: break-word;
          margin-bottom: 1.5rem;
        }

        .plus {
          color: #d434fe;
          font-size: 1.25rem;
          font-family: "Montserrat";
          font-weight: 400;
          line-height: 27.5px;
          word-wrap: break-word;
        }
      }
    }

    .right {
      flex: 1.15;

      @media only screen and (max-width: 768px) {
        flex: 1;
      }

      .svg {
        width: 85%;

        @media only screen and (max-width: 768px) {
          margin: auto;
          max-width: 500px;
        }
      }
    }
  }
}
