.hero {
  margin-top: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.18) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.18) solid;

  .heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    h2 {
      font-size: 2rem;
      font-style: italic;
      font-weight: 700;

      @media only screen and (max-width: 768px) {
        font-size: 1rem;
        text-align: center;
      }
    }

    img {
      position: absolute;
      top: 4rem;

      &.underline {
        @media only screen and (max-width: 768px) {
          width: 115px;
          top: 2.2rem;
          right: 4rem;
        }
      }

      &.star {
        left: 1.5rem;

        @media only screen and (max-width: 768px) {
          width: 10px;
          left: 6rem;
        }
      }
    }
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 2rem;
      text-align: center;
    }

    .left {
      position: relative;

      .radial {
        position: absolute;
        top: -50%;
        left: 15%;
        transform: translateX(15%);
        opacity: 0.5;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;

        @media only screen and (max-width: 768px) {
          left: -5%;
          transform: translateX(-10%);
        }
      }

      .imageOne {
        margin-bottom: 0.75rem;
        width: 90%;

        @media only screen and (max-width: 768px) {
          margin: auto;
          max-width: 500px;
        }
      }

      p {
        margin-bottom: 1.25rem;
        font-size: 1rem;

        .brMobile {
          display: none;

          @media only screen and (max-width: 768px) {
            display: inline-block;
          }
        }

        .br {
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }

        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .countdown {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-family: "Unica One", sans-serif;
        font-size: 4rem;

        @media only screen and (max-width: 768px) {
          justify-content: center;
        }

        span {
          font-size: 0.9rem;
        }
      }
    }

    .right {
      position: relative;
      background: url("../../assets/metrix.svg") no-repeat center;

      .imageOne {
        max-width: 90%;

        @media only screen and (max-width: 768px) {
          margin: auto;
          width: 85%;
          max-width: 500px;
        }
      }

      .ball {
        position: absolute;
        display: block;
        max-width: 90%;
        margin: auto;
        top: 0;
      }
    }
  }
}
