.contact {
  padding: 4rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .socials {
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
      h3 {
        color: #d434fe;
        font-size: 1rem;
        font-family: "Montserrat";
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 1rem;
      }

      .icons {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        @media only screen and (max-width: 768px) {
          justify-content: center;
        }

        div {
          height: 20px;
          width: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      display: block;
    }

    .left {
      flex: 0.8;
      div {
        margin-bottom: 1.5rem;

        h2 {
          color: #d434fe;
          font-size: 2rem;
          font-family: "ClashDisplay-Bold", sans-serif;
          word-wrap: break-word;
          font-weight: 600;
          margin-bottom: 0.75rem;
        }

        p {
          color: white;
          font-size: 1rem;
          font-family: "Montserrat";
          font-weight: 400;
          word-wrap: break-word;
        }
      }
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .right {
      flex: 1.2;
      background-color: rgba(255, 255, 255, 0.03);
      padding: 2rem;

      @media only screen and (max-width: 768px) {
        background-color: transparent;
      }

      .socials {
        display: none;

        @media only screen and (max-width: 768px) {
          display: block;
        }
      }

      h2 {
        color: #d434fe;
        font-size: 1.25rem;
        font-family: "ClashDisplay-Bold", sans-serif;
        word-wrap: break-word;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      form {
        margin-top: 2rem;

        div {
          margin-bottom: 1.25rem;

          input {
            appearance: none;
            height: 45px;
            width: 100%;
            padding: 0 0.5rem;
            border: 1px solid #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.03);
            border-radius: 4px;
            color: white;
            font-size: 1rem;
            font-family: "Montserrat";
            font-weight: 400;
            word-wrap: break-word;

            &::placeholder {
              color: white;
              font-size: 1rem;
              font-family: "Montserrat";
              font-weight: 400;
              word-wrap: break-word;
            }

            &:focus {
              outline: none;
              border-color: #d434fe;
            }
          }

          textarea {
            appearance: none;
            width: 100%;
            padding: 0.25rem 0.5rem;
            border: 1px solid #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.03);
            border-radius: 4px;
            color: white;
            font-size: 1rem;
            font-family: "Montserrat";
            font-weight: 400;
            word-wrap: break-word;

            &::placeholder {
              color: white;
              font-size: 1rem;
              font-family: "Montserrat";
              font-weight: 400;
              word-wrap: break-word;
            }

            &:focus {
              outline: none;
              border-color: #d434fe;
            }
          }
        }
      }
    }
  }
}
