.partners {
  padding: 4rem 0;
  border-bottom: 1px rgba(255, 255, 255, 0.18) solid;

  .heading {
    text-align: center;
    margin-bottom: 3rem;
    h2 {
      color: white;
      font-size: 2rem;
      font-family: "ClashDisplay-Bold", sans-serif;
      word-wrap: break-word;
      line-height: 27.5px;

      @media only screen and (max-width: 768px) {
        font-size: 1.25rem;
      }
    }

    p {
      color: white;
      font-size: 0.95rem;
      font-family: "Montserrat";
      font-weight: 400;
      line-height: 27.5px;
      word-wrap: break-word;

      @media only screen and (max-width: 768px) {
        font-size: 0.8rem;
        line-height: 20.5px;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px #d434fe solid;
    padding: 2rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      position: relative;

      div {
        position: absolute;
        height: 2px;
        width: 80%;
        background-color: #d434fe;
        padding: 0;

        &.lineOne {
          left: 10%;
          bottom: 0;
        }

        &.lineTwo {
          left: 10%;
          bottom: 0;
        }

        &.lineThree {
          left: 10%;
          bottom: 0;
        }
        &.lineFour {
          width: 2px;
          height: 80%;
          right: 0;
          top: 10%;
        }

        &.lineFive {
          right: 0;
          top: 10%;
        }
      }

      img {
        width: 85%;
        max-width: 150px;
      }
    }
  }
}
