.header {
  padding: 2rem 0 1.5rem;
  border-bottom: 1px rgba(255, 255, 255, 0.18) solid;

  @media only screen and (max-width: 768px) {
    padding: 1.5rem 0 1rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      text-decoration: none;

      h1 {
        font-family: "ClashDisplay-Bold", sans-serif;
        font-size: 2rem;
        color: #fff;

        span {
          color: #d434fe;
        }
      }
    }

    nav {
      display: flex;
      align-items: center;
      column-gap: 2.5rem;

      @media only screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: #150e28;
        padding:  0 1rem;
        z-index: 7;
        text-align: left;
        display: block;
        transition: all 0.5s ease-in-out;

        &.open {
          right: 0;
        }
      }

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        @media only screen and (max-width: 768px) {
          margin-top: 8rem;
          display: block;
          text-align: left;
        }

        li {
          @media only screen and (max-width: 768px) {
            margin-bottom: 1rem;
          }

          a {
            display: inline-block;
            color: #fff;
            word-wrap: break-word;

            text-decoration: none;

            &:hover {
              color: rgba($color: #fff, $alpha: 0.5);
            }
          }
        }
      }

      button {
        width: 172px;
        height: 53px;
        border-radius: 4px;

        @media only screen and (max-width: 768px) {
          margin-top: 2rem;
        }
      }
    }

    .menuBar {
      display: none;
      height: 14px;
      width: 19px;
      z-index: 999;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
  }
}
