.timeline {
  padding: 4rem 0;
  border-bottom: 1px rgba(255, 255, 255, 0.18) solid;

  .header {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      color: white;
      font-size: 2rem;
      font-family: "ClashDisplay-Bold", sans-serif;
      word-wrap: break-word;
      margin-bottom: 0.75rem;

      @media only screen and (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 26.6px;
        text-align: center;
      }
    }

    p {
      color: white;
      font-size: 0.95rem;
      font-family: "Montserrat";
      font-weight: 400;
      line-height: 24.14px;
      word-wrap: break-word;

      @media only screen and (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 26.6px;
        text-align: center;
      }
    }
  }

  .container {
    .timelineContainer {
      margin-bottom: 4.5rem;
    }

    .single {
      width: 50%;
      height: 100px;
      position: relative;

      @media only screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
      }

      &.right {
        border-left: 4px #d434fe solid;
        padding-left: 8%;
        left: 50%;
        transform: translateX(-1%);

        @media only screen and (max-width: 768px) {
          left: 0;
          padding-left: 1.5rem;
          transform: translateX(0);
        }

        .circle {
          left: -6%;
          bottom: -60%;

          @media only screen and (max-width: 768px) {
            transform: translateY(120%) translateX(-3.25vw);
            position: relative;
          }
        }

        .date {
          left: -55%;
          bottom: -30%;
        }

        .content {
          bottom: -60%;

          @media only screen and (max-width: 768px) {
            position: relative;
          }
        }
      }

      &.left {
        left: 0;
        border-right: 4px #d434fe solid;
        padding-right: 8%;

        @media only screen and (max-width: 768px) {
          padding-right: 0;
          padding-left: 1.5rem;
          border-right: 0;
          border-left: 4px #d434fe solid;
        }

        .circle {
          right: -6%;
          bottom: -60%;

          @media only screen and (max-width: 768px) {
            transform: translateY(120%) translateX(-14vw);
            position: relative;
          }
        }

        .date {
          right: -55%;
          bottom: -60%;

          @media only screen and (max-width: 768px) {
            left: 1.5rem;
            bottom: -2rem;
            position: absolute;
          }
        }

        .content {
          bottom: -60%;
          position: relative;

          @media only screen and (max-width: 768px) {
            top: 0;
            width: 100%;
          }
        }
      }

      .content {
        position: absolute;

        h4 {
          color: #d434fe;
          font-size: 1.5rem;
          font-family: "Montserrat";
          font-weight: 700;
          word-wrap: break-word;

          @media only screen and (max-width: 768px) {
            font-size: 0.9rem;
          }
        }

        p {
          color: white;
          font-size: 0.95rem;
          font-family: Montserrat;
          font-weight: 400;
          line-height: 23.93px;
          word-wrap: break-word;

          @media only screen and (max-width: 768px) {
            font-size: 0.9rem;
            line-height: 19.19px;
          }
        }
      }

      .date {
        position: absolute;
        color: #d434fe;
        font-size: 1.25rem;
        font-family: "Montserrat";
        font-weight: 700;
        word-wrap: break-word;

        @media only screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      .circle {
        background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
        position: absolute;
        height: 53px;
        width: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.25rem;
        font-family: "Montserrat";
        font-weight: 700;
        word-wrap: break-word;
        border-radius: 50%;

        @media only screen and (max-width: 768px) {
          width: 30px;
          height: 30px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
