.footer {
  padding: 4rem 0 2rem;

  .copyright {
    color: white;
    font-size: 0.8rem;
    font-family: "Montserrat";
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  p,
  li {
    color: white;
    font-size: 0.8rem;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 20.69px;
    word-wrap: break-word;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .first {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;

      a {
        h2 {
          font-family: "ClashDisplay-Bold", sans-serif;
          font-size: 2rem;
          color: #fff;
          margin-bottom: 0.75rem;

          @media only screen and (max-width: 768px) {
            font-size: 1.25rem;
          }

          span {
            color: #d434fe;
          }
        }
      }

      p {
        a {
          color: white;

          &:hover {
            color: #d434fe;
          }
        }

        span {
          color: #d434fe;
        }
      }
    }

    .second {
      h2 {
        color: #d434fe;
        font-size: 0.95rem;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 24.14px;
        word-wrap: break-word;
        margin-bottom: 0.75rem;
      }

      ul {
        li {
          margin-bottom: 0.75rem;

          &.li {
            display: flex;
            align-items: center;
            column-gap: 0.75rem;

            p {
              color: #d434fe;
            }

            .socials {
              display: flex;
              align-items: center;
              column-gap: 0.5rem;

              div {
                height: 20px;
                width: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }

          a {
            color: white;

            &:hover {
              color: #d434fe;
            }
          }
        }
      }
    }

    .third {
      h2 {
        color: #d434fe;
        font-size: 0.95rem;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 24.14px;
        word-wrap: break-word;
        margin-bottom: 0.75rem;
      }

      ul {
        li {
          display: flex;
          align-items: center;
          column-gap: 0.75rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
