@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Unica+One&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #fff;

  --btn-bg-color: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56%,
    #ff26b9 100%,
    #fe34b9 100%
  );
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #150e28;
}

a {
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 990px;
  overflow: hidden;
  margin: auto;
  padding: 0 1rem;
}

button {
  width: 172px;
  height: 53px;
  border-radius: 4px;
  background: var(--btn-bg-color);
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;

  &:disabled {
    opacity: 0.7;
  }

  @media only screen and (max-width: 768px) {
    width: 140px;
    height: 45px;
  }

  &:hover {
    background: linear-gradient(
      270deg,
      #903aff 100%,
      #d434fe 100%,
      #ff26b9 56%,
      #fe34b9 0%
    );
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

form {
  margin-top: 2rem;

  div {
    margin-bottom: 1.25rem;

    input[type="text"],
    input[type="email"] {
      appearance: none;
      height: 45px;
      width: 100%;
      padding: 0 0.5rem;
      border: 1px solid #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.03);
      border-radius: 4px;
      color: white;
      font-size: 1rem;
      font-family: "Montserrat";
      font-weight: 400;
      word-wrap: break-word;

      &::placeholder {
        color: white;
        font-size: 1rem;
        font-family: "Montserrat";
        font-weight: 400;
        word-wrap: break-word;
      }

      &:focus {
        outline: none;
        border-color: #d434fe;
      }
    }

    select {
      height: 45px;
      width: 100%;
      padding: 0 0.5rem;
      border: 1px solid #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.03);
      border-radius: 4px;
      color: white;
      font-size: 0.8rem;
      font-family: "Montserrat";
      background-color: #1c162f;
      font-weight: 400;
      word-wrap: break-word;

      &::placeholder {
        color: white;
        font-size: 0.8rem;
        font-family: "Montserrat";
        font-weight: 400;
        word-wrap: break-word;
      }

      &:focus {
        outline: none;
        border-color: #d434fe;
      }
    }

    button {
      text-align: center;
      margin-top: 1.5rem;
      display: block;
      margin: auto;
    }

    textarea {
      appearance: none;
      width: 100%;
      padding: 0.25rem 0.5rem;
      border: 1px solid #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.03);
      border-radius: 4px;
      color: white;
      font-size: 1rem;
      font-family: "Montserrat";
      font-weight: 400;
      word-wrap: break-word;

      &::placeholder {
        color: white;
        font-size: 1rem;
        font-family: "Montserrat";
        font-weight: 400;
        word-wrap: break-word;
      }

      &:focus {
        outline: none;
        border-color: #d434fe;
      }
    }
  }
}

/**
 * @license
 *
 * Font Family: Clash Display
 * Designed by: Indian Type Foundry
 * URL: https://www.fontshare.com/fonts/clash-display
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Clash Display Regular
 * Clash Display Medium
 * Clash Display Semibold
 * Clash Display Bold
 *
*/

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("./assets/Fonts/WEB/fonts/ClashDisplay-Regular.woff2")
      format("woff2"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("./assets/Fonts/WEB/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("./assets/Fonts/WEB/fonts/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./assets/Fonts/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff"),
    url("./assets/Fonts/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
