@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --btn-bg-color: radial-gradient(circle at 30% 40%, #ff69b4, transparent),
    radial-gradient(circle at 70% 80%, #00bfff, transparent),
    radial-gradient(circle at 50% 20%, #ffd700, transparent), #f0f0f0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #150e28;
}
